:root {
    /*colors*/
    --darkBlue: rgb(15, 15, 35);
    --black: rgb(0, 0, 0);
    --safeWhite: rgb(220, 220, 220);
    --fullWhite: rgb(255, 255, 255);
    --gold: rgb(255, 215, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darkBlue);
    color: var(--safeWhite);
    font-family: monospace;
    font-size: 1rem;
}

.calculator-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h1 {
    font-size: 3rem;
    color: var(--gold);
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.buttons-container>input {
    display: none;
}

.buttons-container>label {
    border: .3rem solid transparent;
    border-bottom: .2rem solid var(--gold);
    background-color: transparent;
    color: var(--safeWhite);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    transition: .5s;
}

.buttons-container>label:hover,
.buttons-container>input:checked+label {
    color: var(--darkBlue);
    background-color: var(--fullWhite);
    border-color: transparent;
    border-radius: 1rem;
}

.calculator-container,
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.quick-review-container {
    border-color: var(--gold);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#quickReviewImage {
    max-width: 21rem;
}

.quick-review-container>p {
    font-weight: 700;
    color: var(--fullWhite);
}

label {
    color: var(--safeWhite);
}

input {
    font-size: 1rem;
    text-align: center;
    border: none;
    padding: .2rem;
}

.input-container>button {
    padding: .7rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--gold);
    font-size: 1.2rem;
}

.input-container>button:hover {
    background-color: var(--fullWhite);
    color: var(--darkBlue);
}

.input-container>button:active {
    background-color: var(--black);
    color: var(--safeWhite);
}

hr {
    border-color: var(--gold);
    margin-top: 2rem;
}

.results-section {
    text-align: center;
}
