:root {
    /*colors*/
    --black: #111111;
    --beige: #f5f5dc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--beige);
    font-family: monospace;
    font-size: 1rem;
    text-align: center;
}