:root {
    /*colors*/
    --darkBlue: rgb(15, 15, 35);
    --black: rgb(0, 0, 0);
    --safeWhite: rgb(220, 220, 220);
    --fullWhite: rgb(255, 255, 255);
    --gold: rgb(255, 215, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkBlue);
    color: var(--safeWhite);
    font-family: monospace;
    font-size: 1rem;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "calculator-section"
        "results-section";
    grid-area: calculator-section;
    grid-area: results-section;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h1 {
    font-size: 3rem;
    color: var(--gold);
}

#buttons-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.input-radio {
    display: none;
}

.input-radio-label-as-button {
    border: .3rem solid transparent;
    border-bottom: .2rem solid var(--gold);
    background-color: transparent;
    color: var(--safeWhite);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    transition: .5s;
}

.input-radio-label-as-button:hover,
.input-radio:checked+.input-radio-label-as-button {
    color: var(--darkBlue);
    background-color: var(--fullWhite);
    border-color: transparent;
    border-radius: 1rem;
}

.container-child,
.container-grandchild {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#quick-review-container {
    border: .2rem solid var(--gold);
    border-radius: 1rem;
    padding: 1rem;
}

#quickReviewImage {
    max-width: 21rem;
}

p {
    font-weight: 700;
    color: var(--fullWhite);
}

label {
    color: var(--safeWhite);
}

.input-number {
    font-size: 1rem;
    text-align: center;
    border: none;
    padding: .2rem;
}

#calculateAreaButton {
    padding: .7rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--gold);
    color: var(--darkBlue);
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
}

#calculateAreaButton:hover {
    background-color: var(--fullWhite);
    color: var(--darkBlue);
}

#calculateAreaButton:active {
    background-color: var(--black);
    color: var(--safeWhite);
}

#results-section {
    background-color: var(--black);
    margin-top: 2rem;
    padding: 2rem;
    gap: 0rem;
}

#results-header {
    color: var(--gold);
    font-size: 1.7rem;
}

#span-with-results-inside {
    font-size: 7rem;
    border-bottom: .2rem solid var(--gold);
}